<div class="container">
  <div class="row justify-content-around">
    <div class="card col-3">
      <img src="../../../assets/images/cenzor.png" class="card-img-top" alt="cenzor">
      <div class="card-body">
        <h6 class="card-title">Angular list of prohibited words</h6>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" [routerLink]="[ '/works/cenzor' ]">details</a>
      </div>
    </div>
    <div class="card col-3">
      <img src="../../../assets/images/tasklist.png" class="card-img-top" alt="cenzor">
      <div class="card-body">
        <h6 class="card-title">Angular tasks list</h6>
      </div>
      <div class="card-footer">
        <a [routerLink]="[ '/works/tasklist' ]" class="btn btn-primary">details</a>
      </div>
    </div>
    <div class="card col-3">
      <img src="../../../assets/images/userlist.png" class="card-img-top" alt="cenzor">
      <div class="card-body">
        <h6 class="card-title">Angular users list</h6>
      </div>
      <div class="card-footer">
        <a [routerLink]="[ '/works/userlist' ]" class="btn btn-primary" >details</a>
      </div>
    </div>
  </div>
</div>
